{% extends 'layout.html' %}




{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center"
     style="min-height: 100vh; position: relative;">
<!--    Welcome Header-->



<form method="POST">
    {{ form.hidden_tag() }}

    <div class="text-center mb-5" style="margin-top: -30px:">
    <h1 class="fw-bold" style="font-size: 5 rem; text-shadow: 1px 1px 3px">Welcome</h1>
    <h1 class="fw-bold" style="font-size: 2.5rem; text-shadow: 1px 1px 3px"> Please Register Here!</h1>

</div>

    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password (class="form-control")}}
    </div>
    <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password (class="form-control")}}
    </div>
    <div class="mb-3">
        {{ form.submit }}


    </div>



</div>

</form>

{% endblock %}

